<!DOCTYPE html>
<html>
<head>
    <% include partials/template/head.ejs %>
</head>
<body>

<!-- NAV-BAR -->
<% include partials/template/nav.ejs %>
<!-- NAV-BAR END -->

<!--HEADER -->
<% include partials/content/cards.ejs %>
<!--HEADER END -->

<!-- FOOTER -->
<% include partials/template/footer.ejs %>
<!-- FOOTER END -->

<% include partials/template/jsdefaults.ejs %>
</body>
</html>
