<!DOCTYPE html>
<html>
<head>
    <% include partials/template/head.ejs %>
</head>
<body>

<!--HEADER -->
<% include partials/template/header2.ejs %>
<!--HEADER END -->
<br><br><br><br><br><br>
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <h2 class="center">How to Save Pages</h2>
        <h3 class="center"> Using PageStack Chrome Plugin</h3><br>
        <p><strong>Installation:</strong> You can load it as an unpacked extension in developer mode on Chrome. Follow this instructions:</p>
        <ul>
            <li>Clone this repo: `git clone <a href="https://github.com/nishant-mor/pagestack-chrome-plugin.git">https://github.com/nishant-mor/pagestack-chrome-plugin.git</a>`. Take note where you cloned it.</li>
            <li>Open Chrome and access `chrome://extensions`, or just open the menu -> settings -> extensions.</li>
            <li>Check the developer mode in upper right.</li>
            <li>Click "Load unpacked extension" button.</li>
            <li>Select the folder into which you cloned **pagestack-chrome-plugin** and click "Open".</li>
            <li>We're done. The extension should be available as if installed from Chrome store.</li>
        </ul>
    </div>
    <div class="col-sm-3"></div>
</div>
<br><br><br><br><br><br>
<!-- FOOTER -->
<% include partials/template/footer.ejs %>
<!-- FOOTER END -->

<% include partials/template/jsdefaults.ejs %>
</body>
</html>
