<!DOCTYPE html>
<html>
<head>
    <% include partials/template/head.ejs %>
</head>
<body>

<!--HEADER -->
<% include partials/template/register.ejs %>
<!--HEADER END -->


<!-- FOOTER -->
<% include partials/template/footer.ejs %>
<!-- FOOTER END -->

<% include partials/template/jsdefaults.ejs %>
</body>
</html>
