<div class="fh5co-loader"></div>

<div id="fh5co-page">
<section id="fh5co-header">
    <div class="container">
        <nav role="navigation">
            <h1 id="fh5co-logo"><a href="/">PageStack<span>.</span></a></h1>
            <ul class="pull-right right-menu">
                <% if(user) { %>
                <li><a href="/logout">Logout</a></li>
                <% } else { %>
                <li><a href="/login">Login</a></li>
                <li class="fh5co-cta-btn"><a href="/register">Sign up</a></li>
                <% } %>
            </ul>
        </nav>
    </div>
</section>
<!-- #fh5co-header -->

<section id="fh5co-hero" class="js-fullheight" style="background-image: url(images/hero_bg.jpg);" data-next="yes">
    <div class="fh5co-overlay"></div>
    <div class="container">
        <div class="fh5co-intro js-fullheight">
            <div class="fh5co-intro-text">
                <!--
                    INFO:
                    Change the class to 'fh5co-right-position' or 'fh5co-center-position' to change the layout position
                    Example:
                    <div class="fh5co-right-position">
                -->
                <div class="fh5co-left-position">
                    <h2 class="animate-box">Create Awesome Things for Better Web</h2>
                    <p class="animate-box"><a href="https://vimeo.com/channels/staffpicks/93951774" class="btn btn-outline popup-vimeo btn-video"><i class="icon-play2"></i> Watch video</a> <a href="http://freehtml5.co" target="_blank" class="btn btn-primary">Visit FREEHTML5.co</a></p>
                </div>



            </div>
        </div>
    </div>
    <div class="fh5co-learn-more animate-box">
        <a href="#" class="scroll-btn">
            <span class="text">Explore more about us</span>
            <span class="arrow"><i class="icon-chevron-down"></i></span>
        </a>
    </div>
</section>
<!-- END #fh5co-hero -->