<!--
<div class="fh5co-loader"></div>

<div id="fh5co-page">
<section id="fh5co-header">
    <div class="container">
        <nav role="navigation">
            <h1 id="fh5co-logo"><a href="/">PageStack<span>.</span></a></h1>
            <ul class="pull-right right-menu">
                <% if(user) { %>
                <li><a href="/logout">Logout</a></li>
                <% } else { %>
                <li><a href="/login">Login</a></li>
                <li class="fh5co-cta-btn"><a href="/register">Sign up</a></li>
                <% } %>
            </ul>
        </nav>
    </div>
</section>
<!-- #fh5co-header -->
<!--
<section id="fh5co-hero" class="js-fullheight" style="background-image: url(images/hero_bg.jpg);" data-next="yes">
    <div class="fh5co-overlay"></div>
    <div class="container">
        <div class="fh5co-intro js-fullheight">
            <div class="fh5co-intro-text">
                <!--
                    INFO:
                    Change the class to 'fh5co-right-position' or 'fh5co-center-position' to change the layout position
                    Example:
                    <div class="fh5co-right-position">
                -->
<!--  <div class="fh5co-left-position">
      <h2 class="animate-box">Create Awesome Things for Better Web</h2>
      <p class="animate-box"><a href="https://vimeo.com/channels/staffpicks/93951774" class="btn btn-outline popup-vimeo btn-video"><i class="icon-play2"></i> Watch video</a> <a href="http://freehtml5.co" target="_blank" class="btn btn-primary">Visit FREEHTML5.co</a></p>
  </div>



</div>
</div>
</div>
<div class="fh5co-learn-more animate-box">
<a href="#" class="scroll-btn">
<span class="text">Explore more about us</span>
<span class="arrow"><i class="icon-chevron-down"></i></span>
</a>
</div>
</section> -->
<!-- END #fh5co-hero -->


<div id="tf-home">
    <div class="overlay">
        <div id="sticky-anchor"></div>
        <nav id="tf-menu" class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand logo" href="/">PageStack</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/home">Home</a></li>
                        <% if(user) { %>
                        <li><a href="/logout">Logout</a></li>
                        <% } else { %>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Register</a></li>
                        <% } %>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <div class="container">
            <div class="content col-md-5">
                <h1>I create websites</h1>
                <h3>that communicates, connects and engages customers</h3>
                <br>
                <a href="#tf-contact" class="btn btn-primary my-btn">Contact</a>
                <a href="#tf-portfolio" class="btn btn-primary my-btn2">Portfolio</a>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                        <h2 class="page-header">Register</h2>
                        <% if(errors) { %>
                        <div class="alert alert-danger">Passwords do not match.</div>
                        <% } %>
                        <form method="post" action="/register">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" placeholder="Name" name="name" required>
                            </div>
                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" class="form-control" placeholder="Username" name="username" required>
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" class="form-control" placeholder="Email" name="email" required>
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" placeholder="Password" name="password" required>
                            </div>
                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input type="password" class="form-control" placeholder="Password" name="password2" required>
                            </div>
                            <button type="submit" class="btn btn-default">Register</button>
                        </form>
            </div>
        </div>
    </div>
</div>